<h1>Slack#index</h1>
<p>Find me in app/views/slack/index.html.erb</p>

<hr>
<p>
  <%=simple_format(h(@debug)) %>
</p>

<h4>
  user messages
</h4>
<% if @user_messages %>
  <table>
    <thead>
    <tr>
      <th>user</th>
      <th>text</th>
      <th>time</th>
    </tr>
    </thead>
    <tbody>
    <% @user_messages.each do |message| %>
      <tr>
        <td><%= message.user %></td>
        <td><%= message.text %></td>
        <td><%= to_tz message.ts %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<h4>
  all messages
</h4>
<% if @all_messages %>
  <table>
    <thead>
    <tr>
      <th>user</th>
      <th>text</th>
      <th>time</th>
    </tr>
    </thead>
    <tbody>
    <% @all_messages.each do |message| %>
      <tr>
        <td><%= message.user %></td>
        <td><%= message.text %></td>
        <td><%= to_tz message.ts %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<hr>
<p>
  <%=simple_format(h(@debug_admin)) %>
</p>

<h4>
  access logs
</h4>
<% if @access_logs %>
  <table>
    <thead>
    <tr>
      <th>user_id</th>
      <th>user_name</th>
      <th>ip</th>
      <th>user_agent</th>
      <th>date_first</th>
      <th>date_last</th>
      <th>duration</th>
      <th>count</th>
    </tr>
    </thead>
    <tbody>
    <% @access_logs.each do |log| %>
      <tr>
        <td><%= log.user_id %></td>
        <td><%= log.username %></td>
        <td><%= log.ip %></td>
        <td><%= log.user_agent %></td>
        <td><%= to_tz log.date_first %></td>
        <td><%= to_tz log.date_last %></td>
        <td><%= (log.date_last - log.date_first) / 60 %></td>
        <td><%= log[:count]%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<table>
  <thead>
  <tr>
    <th>user_id</th>
    <th>channel_id</th>
    <th>text</th>
    <th>event_ts</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.user %></td>
      <td><%= event.channel %></td>
      <td><%= event.message %></td>
      <td><%= time_ago_in_words event.ts %>前</td>
    </tr>
  <% end %>
  </tbody>
</table>

<%=link_to 'slack連携（ユーザ）', '/auth/slack_user'  %>
<%=link_to 'slack連携（管理者）', '/auth/slack_admin' %>
